<h2><%= @movie.title %> <small><%= @movie.genre %></small></h2>
<br>
<strong>Cast</strong>
<table class="table table-striped">
  <% @movie.actors.each do |actor| %>
    <tr><td><%= actor.name %></td></tr>
  <% end %>
</table>
<div>
  <p><%= @movie.description %></p>
</div>
<br>
<%= link_to 'Delete', @movie, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
